#color-palette {
  display: flex;
}
body {
  vertical-align: middle;
}
.color {
  border: 1px solid  black;
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

#purple {
  background-color: purple;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#pixel-board {
  margin-left: 30px;
}

.pixel {
  border: 1px black solid;
  background-color: white;
  width: 40px;
  height: 40px;
}

